<div><nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Sales History</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="all-sales">Select all</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sales-based-on-date">Sales By Date</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="sales-based-on-quarter">Sales By Quarter</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" routerLink="sales-qyts-by-categorywise">Sales Quantities Categorywise</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="sales-sold-by-categorywise">Categorywise Amount Sold</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="sales-qyts-by-year-by-categorywise">Sales Quantities yearwise</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" routerLink="sales-sold-by-year-categorywise">Sales Amount Sold yearwise </a>
        </li>  
      </ul>
    </div>  
  </nav>
</div>